---
layout: layout
---
<div class="content">
{{content}}
</div>


<div class="sidebar">
	<div class="icons">
		<a href="https://www.github.com/seich" class="github">&#62208;</a>
		<a href="https://www.twitter.com/seich" class="twitter">&#62217;</a>
		<a href="http://www.last.fm/user/Seichleon" class="lastfm">&#62241;</a>
	</div>
	<ul>
	{% for post in paginator.posts %}
		<li>
			<a href="#{{post.title}}">{{post.title}}</a>
			<time>{{ post.date | date: "%B %d, %Y" }}</time>
		</li>
	{% endfor %}
	</ul>

	{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a href="/" class="previous">Previous Page</a>
			{% else %}
				<a href="/page{{ paginator.previous_page }}" class="previous">Previous Page</a>
			{% endif %}
		{% else %}
			<span class="previous">Previous Page</span>
		{% endif %}
		/
		{% if paginator.next_page %}
			<a href="/page{{ paginator.next_page }}" class="next">Next Page</a>
		{% else %}
			<span class="next ">Next Page</span>
		{% endif %}

		<p>-{{ paginator.page }}-</p>
	</div>
	{% endif %}
</div>