---
layout: meta
---
<div id="top">
	<h1><a href="/">Sergio Díaz<span>.</span></a></h1>
</div>

{{content}}

<footer>
	<p>David Sergio Díaz © All Rights Reserved.</p>
	<p>Happily hosted on <a href="http://www.webfaction.com?affiliate=seich">WebFaction</a>.</p>
</footer>

<script src="js/main.js"></script>
<script src="https://www.behance.net/v2/users/seich/projects?client_id=30sND6cPqPURn4aatiwWHfsG3TypOYXp&sort=published_date&page=1&time=all&callback=loadShots"></script>
<script src="https://api.flickr.com/services/rest/?method=flickr.people.getPublicPhotos&api_key=06477985bb250a134a164fd754d5cbef&user_id=10431905%40N06&per_page=5&format=json"></script>
