/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro);

/* General Styles */
html {
	overflow-y: scroll;
}

body {
	background: #FFFCF5;
	color: #222;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	color: #7DB441;
	text-decoration: none;
}

a:hover {
	color: #E9A753;
	text-decoration: none;
}

code, pre {
	font-family: 'Menlo', 'Liberation Mono', 'Consolas', 'Courier New', 'andale mono','lucida console', monospace;
	font-size: 14px;
	line-height: 25px;
}

/* Page Styles */

/* Container */
.container {
	margin: 0 auto;
	max-width: 700px;
	width: 90%;
}

/* Navigation & Header */
nav#top h1 {
	float: left;
}

nav#top ul {
	float: right;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	text-align: right;
}

nav#top li {
	display: inline-block;
	list-style: none;
	margin-right: 10px;
}

header#title a {
	border-bottom: 1px dotted #999;
	color: #856363;
	font-size: 25px;
	line-height: 40px;
	margin: 0;
}

/* Body Sections */
/* Archive */
.archive ul {
	padding: 0;
}

.archive li {
	border-bottom: 1px dotted #bbb;
	list-style: none;
	margin-bottom: 2em;
}

.archive li:nth-child(even) {
	background: #F3F3F3;
}

.archive li h1,
.archive li p {
	margin: 0;
}

.archive li h1 {
	font-size: 25px;
}

.archive li small {
	color: #999;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
}

/* Post */
.post {
	clear: both;
	line-height: 30px;
}

.post h1 {
	margin-bottom: 0;
}

.post h1 a {
	color: #222;
	font-size: 42px;
	line-height: 1.1;
}

.post time {
	color: #999;
}

.media-anouncement {
	margin-top: 30px;
	font-style: italic;
}

/* about me */
.about-me h1 {
	font-size: 72px;
	margin: 0;
}

.about-me h2 {
	font-weight: normal;
	margin-top: 0;
}

.about-me p#social a {
	margin-left: 10px;
}

.about-me p#social span {
	font-size: 50px;
	margin-top: 30px;
	margin-right: 5px;
}

.about-me img {
	border-radius: 5px;
}

a#twitter {
	color: rgb(65, 120, 180);
}

a#twitter:hover {
	color: rgba(65, 120, 180, .7);
}

a#forrst {
	color: rgb(93, 180, 65);
}

a#forrst:hover {
	color: rgba(93, 180, 65, .7);
}

a#lastfm {
	color: rgb(180, 65, 65);
}

a#lastfm:hover {
	color: rgba(180, 65, 65, .7);
}

a#github {
	color: rgb(51, 51, 51);
}

a#github:hover {
	color: rgba(51, 51, 51, .7);
}

/* Footer */
footer {
	color: #aaa;
	padding: 30px 0;
	text-align: center;
}

/* Support Classes */
img.float-right {
	float: right;
	margin-left: 16px;
}

.well {
	box-shadow: inset 0 2px 7px #856363;
	padding: 1em;
	background: rgba(133, 99, 99, 0.02);
	border-radius: 5px;
}

.gist {
	line-height: 20px;
	font-size: 14px;
}

@media screen and (max-width: 700px) {
	img.float-right {
		float: none;
	}
}